h1{
color: blue;
font-size: 2em;
}
ul{
    display: inline-flex;
    text-align: center;
    padding: 2px;
    margin: 0;
    list-style:none;
}

ul>li>a{
    margin: 2rem;
}

.figure{
display: flex;
justify-content: center;
}
.figure>img{
    border: 10px solid black;
}
a:hover{
    color: chartreuse;
}
.pos{
    position: relative;
}
.absolute{
    position: absolute;
    font-size: 2em;
}